
<div class="centered_feed round_rec">

  <div class="dives_index_wrapper clear-fix">

    <p class="header-comments">Welcome inside, <%=current_user.username.titleize%>!</p>
    <h1 class="inside_titles index_title">Latest Dives</h1>

    <div class="row">
      <a class="dual_column_links" href="/divesites/new">Add a new divesite</a>
      <a class="dual_column_links not_first" href="/dives/new">Log a new dive</a>
    </div>

    <br></br>

    <hr>

    <%@dives.reverse.each do |dive| %>
      <div class="row">
        <pre>   <strong><a href="/divelogs/<%=dive.user.slug%>"><%=dive.user.username%></a></strong>
        <div class="img-wrapper"><img class="divefeed-img circle" src="<%=dive.user.image_url%>" alt="diver"></div>
  <%=dive.date%> :: <a href="/<%=dive.user.slug%>/<%=dive.divesite.slug%>/<%=dive.slug%>">See dive</a>
  <a href="/divesites/<%=dive.divesite.slug%>"><%=dive.divesite.name.titleize%></a>, <%=dive.divesite.location.titleize%>, <%=dive.divesite.country.titleize%>
        </pre>
      </div>
      <hr>
    <%end%>

    <p class="inside-comments">That's all the logged dives we have!</p>


  </div>

</div>
