<h1>Log a new dive</h1>

<form class="new-dive-form" action="/dives" method="post">
  <pre>
    <input type="text" id="date" name="dive[date]" placeholder="Dive date">
    <input type="text" name="dive[time]" placeholder="Start time">
    <input type="integer" name="dive[length]" placeholder="Length(mins)">
    <textarea name="dive[notes]" placeholder="Your dive notes"></textarea>
  <pre>

  <pre>
    <h2>Choose a dive site or add a new one!</h2>
    <%@divesites.each do |divesite| %>
      <input id="<%=divesite.slug%>" type="radio" name="dive[divesite_id]" value="<%=divesite.id%>"> <%=divesite.name%>, <%=divesite.location%>, <%=divesite.country%>
    <%end%>
      <input type="radio" name="dive[divesite_id]" value=""> New: <input type="text" name="divesite[name]" placeholder="New divesite name"> <input type="text" name="divesite[location]" placeholder="New divesite location"> <input type="text" name="divesite[country]" placeholder="New divesite country">
  </pre>

    <button type="submit" name="Log Dive">Log Dive</button>


</form>
