<h1><%=@user.username.titleize%>'s Dive Log</h1>

<%@user.dives.each do |dive| %>
  <pre>
  <%=dive.date%> - <a href="/divesites/<%=dive.divesite.slug%>"><%=dive.divesite.name.titleize%></a>, <%=dive.divesite.location.titleize%>, <%=dive.divesite.country.titleize%>
    <a href="/<%=dive.user.slug%>/<%=dive.divesite.slug%>/<%=dive.slug%>">See dive</a>
  </pre>
  <%end%>
<br></br>


<%if @user == current_user%>
  <button type="button" name="edit_button"><a href="/users/<%=@user.slug%>/edit">Edit your account details</a></button>
<%end%>

<button type="button" name="new_dive_button"><a href="/dives/new">Log a new dive</a></button>
<button type="button" name="dives_button"><a href="/dives">Back to dives newsfeed</a></button>
<button type="button" name="logout_button"><a href="/logout">Logout</a></button>
