<h1><%=@user.username.titleize%>'s Dive Log</h1>

<%@user.dives.each do |dive| %>
  <p><%=dive.date%> - <%=dive.divesite.name%></p>
  <a href="/<%=@user.slug%>/<%=dive.divesite.slug%>/<%=dive.slug%>">See dive</a>
<%end%>




<button type="button" name="logout_button"><a href="/users/<%=@user.slug%>/edit">Edit your account details</a></button>
