
<div class="centered_feed round_rec">

  <div class="dives_index_wrapper clear-fix">

    <h1 class="inside_titles divelog_title"><%=@user.username.titleize%>'s Log</h1>

    <%if @user == current_user%>
      <div class="row">
        <a class="dual_column_links" href="/users/<%=@user.slug%>/edit">Edit your account details</a>
        <a class="dual_column_links not_first" href="/dives/new">Log a new dive</a>
      </div>
    <%end%>

    <br></br>
    <br></br>

    <img class="divelog-img" src="<%=@user.image_url%>" alt="diver">

    <%if @user.dives.empty? && @user == current_user%>
      <p class="inside-comments">You have not logged any dives yet!</p>
    <%elsif @user.dives.empty?%>
      <p class="inside-comments"><%=@user.username.titleize%> has not logged any dives yet!</p>
    <%end%>

    <br></br>
    <br></br>
    <br></br>

    <hr>

    <%@user.dives.reverse.each do |dive| %>
    <pre>
    <%=dive.date%> :: <a href="/<%=dive.user.slug%>/<%=dive.divesite.slug%>/<%=dive.slug%>">See dive</a>
    <a href="/divesites/<%=dive.divesite.slug%>"><%=dive.divesite.name.titleize%></a>, <%=dive.divesite.location.titleize%>, <%=dive.divesite.country.titleize%>
    </pre>
    <hr>
    <%end%>

    <%if !@user.dives.empty?%>
      <p class="inside-comments">That's all!</p>
    <%end%>

    <br></br>

  </div>

</div>
