<h1>Edit <%=@divesite.name.titleize%>, <%=@divesite.location.titleize%>, <%=@divesite.country.titleize%></h1>


<form class="edit-divesite-form" action="/divesites/<%=@divesite.slug%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <pre>
    <input type="text" name="divesite[name]" placeholder="Divesite name" value="<%=@divesite.name.titleize%>">
    <input type="text" name="divesite[location]" placeholder="Location" value="<%=@divesite.location.titleize%>">
    <input type="text" name="divesite[country]" placeholder="Country" value="<%=@divesite.country.titleize%>">
  <pre>

  <pre>
    <h2>Are you also logging a new dive at this divesite? If so, here's the place to do it!</h2>
    <pre>
      <input type="text" id="date" name="dive[date]" placeholder="Dive date DD/MM/YYYY">
      <input type="text" name="dive[time]" placeholder="Start time">
      <input type="integer" name="dive[length]" placeholder="Length(mins)">
      <textarea name="dive[notes]" placeholder="Your dive notes"></textarea>
    <pre>
  </pre>

    <p>All dives logged at this divesite will be updated. Are you sure you want to go ahead?</p>
    <button type="submit" name="Update Divesite">Update Divesite</button>


</form>
