<h1><%=@divesite.name.titleize%></h1>
<h2><%=@divesite.location.titleize%>, <%=@divesite.country.titleize%></h2>


<%if @divesite.users.empty?%>
  <h2>No dives have been logged at <%=@divesite.name.titleize%> yet!</h2>
<%else%>
  <h2>Who has dived <%=@divesite.name%>?</h2>
  <%@divesite.users.each do |user|%>
    <p><a href="/divelogs/<%=user.slug%>"><%=user.username.titleize%></a></p>
  <%end%>
<%end%>

<button type="button" name="update_divesite_button"><a href="/divesites/<%=@divesite.slug%>/edit">Update this dive</a></button>
<h2>Deleting this Divesite will also delete ALL dives logged at this site! Only do it if you're sure!</h2>
<form class="delete_dive" action="/divesites/<%=@divesite.slug%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="Delete Divesite">Delete Divesite</button>
</form>
<button type="button" name="divesites_button"><a href="/divesites">See all divesites</a></button>
<button type="button" name="divelog_button"><a href="/divelogs/<%=current_user.slug%>">Go to your divelog</a></button>
<button type="button" name="dives_button"><a href="/dives">Back to dives newsfeed</a></button>
<button type="button" name="logout_button"><a href="/logout">Logout</a></button>
